audio {
    display: none;
}

p {
    font-size: 30pt;
    line-height: 2;
    letter-spacing: 5px;
}

p[data-offset] {
    display: none;
}

section {
    display: flex;
}

button {
    flex-grow: 1;
    padding: 1em 0;
}